* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f1f1f1;
}



.projectImage {
    width: 300px;
    height: 200px;
    border: #9c9c9c solid 5px;
}

#profileImage {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border: #9c9c9c solid 5px;
}

ul {
    list-style-type: none;
}

.navItem {
    color: #9c9c9c;
    text-decoration: none;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

#name {
    color: #f1f1f1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#about {
    padding: 20px;
    text-align: center;
}

#projects {
    width: 100%;
    background-color: #333;
    margin-top: 20px;
}

#projects ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.project {
    margin: 10px;
}

.subHeading {
    color: #f1f1f1;
    margin-bottom: 20px;
}

#projectHead {
    margin-top: 20px;
}

.projectHeading {
    color: #f1f1f1;
}
.projectDescrebtion {
    color: #bbbbbb;
}

#contact {
    width: 100%;
    background-color: #333;
    color: #f1f1f1;
    padding-top: 30px;
    border-top: solid #9c9c9c 1px;
}

footer {
    border-top: solid #9c9c9c 1px;
    padding-top: 2%;
    color:#f1f1f1;
    background-color: #333;
    padding-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #0069d9;
}
